/*
------------------------------
    基本設定
------------------------------
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "メイリオ";
  color: gray;
  background-color: white;
}

a {
  color: gray;
  text-decoration: none;
}

/*
------------------------------
    ヘッダー
------------------------------
*/

header {
  width: 100%;
  height: 80px;
  background-color: white;
}

h1 {
  font-size: 50px;
}

.header_inner {
  height: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}

.header_logo {
  height: 100%;
  width: 150px;
}

.header_logo img {
  width: 100%;
  height: 100%;
}

.nav {
  padding-left: 20px;
}

.nav-lists {
  display: flex;
  justify-content: right;
  margin-top: 5px;
  overflow: hidden;
}

.nav-lists img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}

.nav-lists img:hover {
  filter: grayscale(0);
  transition-duration: 0.5s;
}

/*
------------------------------
    メイン
------------------------------
*/

.main_wrapper {
  width: 100%;
  border-top: 1px solid #dcdddf;
}

.main_contents {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px 80px;
 
}

.main_section {
  width: 100%;
  height: 450px;
  /* background-color: white; */
  position: relative;
}


.main_section-first {
  max-width: 260px;
  min-width: 260px;
  height: 105%;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.first-img1 img {
  height: 100%;
  box-shadow: 0px 2px 2px 0px gray;
  width: 100%;
  position: absolute;
  z-index: 2;
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}

.first-img1:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}



.sub_section {
  width: 100%;
  height: 100px;
  /* background-color: white; */
}

.sub_section-text{
  width: 200px;
  height: 100px;
  position: relative;
}

.sub_section-text img {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 600px;
}

.main_text {
  width: 100%;
  height: 350px;
  background-color:#ddd;
  opacity: 0.３;
  position: absolute;
  z-index: 0;
  top: 200px;
  left: 0;
  display: flex;
  padding-top: 40px;
  padding-left: 100px;
}

.main_text p{
  font-size: 13px;
}


.main_text-left {
  width: 300px;
  height: 300px;
  /* background-color: blue; */
  margin-right: 80pxpx;
}

.main_text-right {
  width: 450px;
  height: 300px;
  /* background-color: red; */
}

/*
------------------------------
  2nd フューズ
------------------------------
*/
.development {
  width: 100%;
  background-color: #ddd;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dcdddf;
}

.development_left{
  width: 60%;
  height: 100%;
}

/* left right 共通 */
.development_title h3{
  font-size: 20px;
  line-height: 40px;
}

.app-lists ul .date li{
  width: 100%;
  height: 100%;
}

.data dl{
  width: 100%;
  height: 160px;
  background-color: #fff;
  border:3px solid #ccc;
  margin-top: 20px;
  overflow: hidden;
}

.data dt img{
  width: 250px; 
  height: 100%;
  float: left;
  position: relative;
  z-index: 2;
  border: 1px solid #ccc;
  cursor: pointer;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}
.data dt img:hover{
  filter: grayscale(0);
  transition-duration: 0.5s;
}

.data span.category_tag {
  font-size: 10px;
  font-weight: bold;
  padding: 0 10px;
  width: 100px;
  height: 20px;
  text-align: center;
  background-color: rgba(246,172,77,0.9);
  display: inline-block;
  color: #fff;
  line-height: 20px;
  /* position: absolute; */
  top: 5px;
  left: 170px;
  z-index: 3;
}

.data dd {
  /* float: right; */
}

.data dd h4 {
  font-size: 18px;
}

dd span.create_date{
  color: #ccc;
  font-size: 12px;
}
dd span.create_tag{
  color: #ccc;
  font-size: 12px;
}

dd p {
  font-size: 15px;
}




/* ----- */
.development_right{
  width: 35%;
  height: 100%;
}

/* .development_title { left 共通} */

.development_pro {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}







footer {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-top: 1px solid #dcdddf;
}

.footer_inner {
  width: 100%;
  height: 100%;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  width: 50px;
  height: 50px;
}

.footer_logo img{
  height: 30px;
}

.footer_mail img{
  height: 30px;
}
