/* 
------------------------------ 
基本設定
------------------------------ 
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "メイリオ";
  color: white;
  background-color: #151e29;
}

h1,h2,h3,h4,h5,h6,p{
   color: white;
}
  
a {
  color: white;
  text-decoration: none;
}

/*
------------------------------
ヘッダー
------------------------------
*/
  
header {
  height: 100vh;
  width: 250px;
  background-color: #151e29;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  overflow: scroll;
}

.portfolio-title {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}
    
.navbar {
  width: 100%;
  position: absolute;
  top:50px;
  left: 0;
  z-index: 1;
}

.navigation{
  width: 100%;
}

.profile-section{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

.profile-section  img {
  width: 150px;
  height: 200px;
}

.profile-message {
  font-size: 5px;
  margin: 20px 0;
  margin: 10px auto;
}

.profile-message p {
  display: inline-block;
  text-align: left;
  font-weight: 100px ;
  font-size: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.social-list a{
  background-color: #5BC3D5;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  padding: 2px;
  margin: 0 4px;
}

hr.style1 {
  margin: 20px;
}

.profile-next {
  width: 100%;
  position: absolute;
  top: 300px;
  left: 0;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

.list-inline-item{
  display: inline-block;
  text-align: left;
}

.artical {
  display: inline-block;
  text-align: center;
}

.artical-text {
  margin: 10px 0;
}

.profile-next{
  padding: 0 20px;
}

.profile-next  p{
  text-align: left;
  font-size: 7px;
  margin-top: 5px;
  font-size: 10px;
}

/* ----------Swiper ----------*/
.swiper-container {
  height: 300px;
  width: 100%;
  display: flex;
  top: 550px;
  left: 5px;
}

/* メイン表示部分 */
.swiper-wrapper {
  width: 200px;
  height: 150px;;
}

.swiper.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper img{
  width: 70px;
  height: 50px;
}

.swiper span {

  z-index: 5;
  top: 0;
  left: 0;
  background-color: orange;
  color: white;
}
  
.back-pick {
  background-color: white;
}
  
/*
------------------------------
main全て
------------------------------
*/
  
.main_wrapper {
  width: calc(100vw - 250px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 250px;
  z-index: 0;
  overflow: scroll;
  background-color: #111821;
  min-width: 960px ;
}

/* ----------pickup ----------*/
.main-board {
  width: 100%;
  margin-top: 15px;
}

.main-board p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
hr.style2 {
  margin-top: 3px;
  border-top: 1px #5BC3D5;
  width: 98%;
  text-align: center;
}

hr.style3 {
  margin-top: 20px;
  border-top: 1px #5BC3D5;
  width: 98%;
  text-align: center;
}

.main-board-contents {
  display: flex;
  padding: 0 40px;
}

.main-board-image {
  width: 200px;
  height: 120px;
  margin: 0 20px;
  background-color: #151e29;
}

span.board-tag {
  display: block;
  width: 100%;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(246,172,77,0.8);
  color: #fff;
  line-height: 20px;
}

.main-board-image img{
  width: 100%;
  height: 100px;
}

.board {
	overflow:		hidden;
	position:		relative;
}
.board .after-text {
	font-size:		130%;
	color:	#fff;
	padding-top:50px;
	padding-left:		0px;
}
.board .moji {
	width:100%;
	height:100%;
	position:	absolute;
	top: 0;
	left: 0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
  transition:		all 0.6s ease;
  font-size: 8px;
  display: inline-block;
  text-align: center;
}
.board:hover .moji {
	opacity: 1;	/* マスクを表示する */
  /* padding-left:	20px;	右にずらす */

}



/*
------------------------------
tab
------------------------------
*/
.tab-container {
  width: 100%;
  min-width: 960px ;
  background-color: #111821;
  padding: 20px 50px;
  color: black;
}
  
.tab-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
  
.tab-menu li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
} 

.tab-menu li a.active {
  background-color: #151e29;
  color: #fff;
}

.tab-menu li a:not(.active):hover{
  opacity: 0.5;
  transition: opacity 0.4s;
}

.tab-content.active {
  background-color: #151e29;
  color: #fff;
  min-height: 150px;
  padding: 12px;
  display: block;
}

.tab-content {
  display: none;
}

/*
------------------------------
タブ①
------------------------------
*/

.development{
  width: 700px;
  background-color: #151e29;
  margin: 0 auto;
}

.development_title h3{
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.app-data {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 4px 2px  gray;
}

.app-image img {
  width: 250px;
  height: 170px;
}

.app-text {
  background-color: #eee;
  width: 550px;
  height: 170px;
  font-size: 5px;
  color: black;
  padding: 5px 10px;
  overflow: scroll;
}

li.app-data {
  font-size: 15px;
  color: #111821;
  margin-bottom: 30px;
}

.app-data a {
  color: #111821;
}

.app-data p {
  color: #111821;
  font-size: 13px;
}

h4 a {
  font-size: 20px;
  font-weight: bold;
}

.create_date {
  color: blue;
}

.create_tag {
  color:red;
}

.link-url a{
  color: #5BC3D5;
  font-size: 12px;
  border-bottom:solid 1px;
}

.app-pass{
  color: black;
}



/*
------------------------------
タブ②
------------------------------
*/ 
  
.tab-profile{
  width: 100%;
  background-color: #151e29;
}

.tab-profile h3{
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.tab-profile-top {
  display: flex;
  justify-content: center;
}

.tab-profile-left {
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
  
.tab-profile-left p {
  font-size: 10px;
  display: inline-block;
  text-align: left;
}

.tab-profile-right{
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.tab-profile-right p {
  font-size: 10px;
  display: inline-block;
  text-align: left;
}
  

/*
------------------------------
タブ③
------------------------------
*/ 

.contact {
 
}




/*
------------------------------
footer
------------------------------
*/ 

footer {
  width: 100%;
  height: 80px;
  background-color: #111821;
  border-top: 1px solid #dcdddf;
}
  
.footer_inner {
  width: 100%;
  height: 100%;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
}
  
.footer_logo {
  width: 50px;
  height: 50px;
}
  
.footer_logo img{
  height: 30px;
}
  
.footer_mail img{
  height: 30px;
}


/*
------------------------------
btn
------------------------------
*/ 

.menu {
  position: fixed;
  right: -200px;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  text-align: left;
}

.menu.menu-open {
  right: 0;
}

.menu-wrap {
  position: absolute;
  top: 0;
  left: 60px;
  background: #1a1a1a;
  width: 200px;
  height: 100%
}

.menu h1.logo a {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: .15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
}

.menu h1.logo a:hover {
  color: #5BC3D5;
}

.menu img.logo {
  margin: 20px 0;
  max-width: 160px;
}

.menu a {
  margin-left: 20px;
  color: gray;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.menu a:hover {
  color: #fff;
}

.menu a:active {
  color: #fff;
}

.menu a>i {
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 25px;
  font-size: 14px;
  line-height: 40px;
  margin: 25px 2px;
}

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: gray;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 25px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.menu-close:hover {
  color: #fff;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.menu, .body-push {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#menuToggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, .25);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

#menuToggle:hover {
  color: #fff;
  background: #5BC3D5;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 10%;
}


.fa-bars {
  position: absolute;
  top: 12px;
  right: 15px;
}